@mixin absCenter{ //Absolute Center
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin absDefault{ //Absolute Default
   position: absolute;
   top: 0;
   left: 0;
}
